@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  background-image: url(/Asset/images/background.jpg);
  background-size: cover;
}

.btn-open-popup {
  background-color: #fefefe;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#tblDanhSachSP td {
  border: 1px solid #000;
  text-align: center;
}
#tblDanhSachSP td button {
  width: 100px;
}

@media (max-width: 768px) {
  table thead td .btn {
    font-size: 12px;
  }
  #tblDanhSachSP {
    font-size: 13px;
  }
  #tblDanhSachSP td button {
    font-size: 13px;
    width: 50px;
  }
}
@media (max-width: 576px) {
  .modal-body table td button {
    font-size: 15px;
  }
  .modal-footer button {
    font-size: 13px;
  }
}
.nav {
  background-color: #1a237e;
  display: flex;
  align-items: center;
}
.nav .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav .nav-title a {
  font-size: 22px;
  color: #fff;
  width: 20%;
  text-decoration: none;
}
.nav .nav-list {
  margin-top: 16px;
  display: flex;
  gap: 2rem;
}
.nav .nav-list li {
  list-style-type: none;
  text-align: center;
}
.nav .nav-list li a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .nav a {
    font-size: 15px;
  }
  .nav .nav-header a {
    font-size: 19px;
  }
}

.footer {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  padding: 0px;
}
.footer .section-social {
  display: flex !important;
  justify-content: center !important;
  border-bottom: 1px solid #dee2e6 !important;
  padding: 30px;
  color: white;
}
.footer .section-social .text-right {
  float: left;
  margin-right: 20px;
}
.footer .section-social .fab {
  color: white;
  margin-right: 1.2rem !important;
}
.footer .container-footer {
  margin-top: 50px;
  padding-right: 5rem;
  padding-left: 5rem;
  margin: 0 auto;
}
.footer .container-footer .row {
  padding-top: 50px;
  color: white;
  text-align: left;
}
.footer .container-footer .row h6 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: white !important;
}
.footer .container-footer .row h6 i {
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .footer .container-footer .row h6 {
    font-size: 20px;
  }
  .footer .container-footer .row h6 i {
    margin-right: 0;
  }
}
.footer .copyright {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.admin_content {
  padding: 100px 50px;
  background-color: white;
}
.admin_content .top {
  padding: 10px;
  background-color: #1a237e;
  border-radius: 30px 30px 0px 0px;
}
.admin_content .tieude {
  border-bottom: 1pt solid black;
}
.admin_content .tieude th {
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  .admin_content .tieude th {
    font-size: 13px;
  }
}
.admin_content .form-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.customer_content {
  padding: 50px 0;
  justify-content: space-evenly;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px; /* Kích thước ngắn gọn */
  transition: transform 0.3s; /* Hiệu ứng hover */
}

.product img {
  max-width: 100%;
  height: auto;
}

/* Hiệu ứng hover */
.product:hover {
  transform: scale(1.05); /* Phóng to sản phẩm khi hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Hiển thị bóng đổ */
}

@media (max-width: 1200px) {
  .modal-body table {
    font-size: 18px;
  }
  .modal-body table th,
  .modal-body table td {
    padding: 4px;
  }
}
@media (max-width: 768px) {
  .modal-body table {
    font-size: 15px;
  }
  .modal-body table th,
  .modal-body table td {
    padding: 4px;
  }
}
@media (max-width: 576px) {
  .modal-body table {
    font-size: 13px;
  }
  .modal-body table th,
  .modal-body table td {
    padding: 4px;
  }
} /*# sourceMappingURL=main.css.map */
