.btn-open-popup{
    background-color:#fefefe;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px
  }

#tblDanhSachSP td button {
    width: 100px;
}
@media (max-width:768px) {
    table thead td .btn {
        font-size: 12px;
    }
    #tblDanhSachSP {
        font-size: 13px;
        td button {
          font-size: 13px;
          width: 50px;
        }
      }
}

@media (max-width: 576px) {
    .modal-body table td button {
        font-size: 15px;
    }
    .modal-footer button {
        font-size: 13px;
      }
}